body{
    background-color: #25272f;
    font-family: helvetica;
    color: white;
    font-weight: bold;
}

.tile{
    width: 170px;
    height: 140px;
    margin: 5px;
    padding: 20px;
    float: left;
}

.tile-double{
    width: 390px;
    height: 140px;
    margin: 5px;
    padding: 20px;
    float: left;
}

.main-container{
    max-width: 900px;
    min-width: 500px;
    margin: 0 auto;
}

.green{
    background-color: #13B2A3;
}

.red{
    background-color: #F16F51;
}

.yellow{
    background-color: #fdb45c;
}

.lightgrey{
    background-color: #f6f6f6;
    color: black;
}

.city-image{
    background-image: url(./img/santiago.png);
    font-size: 20pt;
}

.users-table{
    margin: 10px auto;
    font-weight: normal;
    width: 100%;
}

.users-table th{
    border-bottom: 2px solid white;
    padding: 2px;
    text-align: center;
}

.users-table td{
    padding: 2px;
    text-align: center;
    padding: 1%;
    
}

.chart-total{
    font-size: 30pt;
    text-align: right;
}

.event-hours{
    font-size: 10pt;
    font-style: italic;
    text-align: right;
    margin-right: 10px;
}

.event-day{
    font-size: 55pt;
    text-align: right;
}

.title-list li{
    margin-bottom: 5px;
    margin-left: 10px;
}

ul.title-list li{
    list-style-type:disc;
}

ol.title-list li{
    list-style-type: decimal;
}

.title-list a {
    color: white;
    text-decoration: none;
}

.event-date{
    margin-top: 40px;
}

h2{
   margin-bottom: 15px; 
   font-size: 18px;
}